MISTRAL_API_KEY=eknM8llXDyyXUtmsZ1Pt2p5RgpvNzoWF
MISTRAL_MODEL_SMALL=mistral-small-latest
MISTRAL_MODEL_LARGE=mistral-large-latest

# Database - MySQL
DATABASE_URL=mysql+pymysql://root:root@localhost:3306/enterprise_policy_db
DB_HOST=localhost
DB_PORT=3306
DB_NAME=enterprise_policy_db
DB_USER=root
DB_PASSWORD=root